[2018-03-31 14:57] felexkemboi opened #1 "details: {u'errors': [{u'message': u'Invalid or expired token.', u'code': 89}]}"
i get the above error when i run the command to activate

[2018-03-31 15:06] adeyosemanputra commented on #1
Try use deepin https://www.deepin.org/en/ for running securetea

[2018-04-02 13:01] felexkemboi commented on #1
okay,already  tackled the problem

[2018-04-02 13:01] #1 closed

[2019-01-13 10:55] abhisharma404 opened #9 "Error while installing"
The following error is seen when installing SecureTea with the help of the command `python setup.py install`.
[code]
Moreover, when I worked around that error and found out a solution, I encountered the following :
[code]
Python version : 3.6.6
OS : Ubuntu 18.04.1 LTS

[2019-01-14 16:20] abhisharma404 opened #12 "Bug : sudo pm-suspend does not work on Ubuntu 18.04"
`sudo pm-suspend` does not seem to work on Ubuntu 18.04, the following error is produced when executing `python SecureTea.py` :
`sudo: pm-suspend: command not found`
Reason being, use of `pm-utils` being deprecated in later releases of Ubuntu.

Here is a link to an interesting article I found regarding the same :
https://www.thelinuxrain.com/articles/how-to-suspend-from-the-command-line

**Develop

[2019-01-15 15:51] #12 closed

[2019-01-15 15:51] #9 closed

[2019-01-26 12:55] mishal23 opened #15 "Update .gitignore"
`.gitignore` currently doesn't ignore the following files/directories which are created on compiling the codes:
- `build`
- `dist`
- `bin/init.d/securetea`,
- `bin/systemd/securetea.service`

Would be better if they are included in `.gitignore`

[2019-01-27 12:12] #15 closed

[2019-01-27 12:25] rejahrehim opened #20 "Slack Integration"
Implement slack integration.
We want to send direct messages to users in the app channel instead of the standard slackbot channel.

In order to do that you need to

1. The app needs the bot scope and a bot user
2. Open a direct message channel from the app with the user with im.open. Will get back a direct message ID.
3. Send a message with chat.postMessage to the direct message channel ID
Make su

[2019-01-28 15:18] abhisharma404 opened #21 "Bug: Python 3 not supported"
While trying & testing, I ran to the following bug:

**Command executed** : `sudo python3 SecureTea.py`

[code]
However, the code seems to work fine when executed in Python 2.

I've tried playing it around, but after every fix there is an EOF error.

**Development Environment :**
[code]

[2019-01-28 15:44] rejahrehim commented on #21
[Line 29 in Telegram File](https://github.com/OWASP/SecureTea-Project/blob/5facc64aa828a67abb2cb4f260d2ac97ef106cbf/securetea/secureTeaTelegram.py#L29)
Has mixed tab and spaces for indentation.

[2019-01-28 15:46] rejahrehim commented on #21
@mishal23

[2019-01-29 08:35] #21 closed

[2019-01-30 13:16] #20 closed

[2019-02-01 13:34] abhisharma404 opened #32 "Restructuring the current project architecture"
Currently, we have all the files in the major folder i.e. `securetea` folder itself.
A better way to organize would to be group the commons in a separate folder.
For example, the following structure:
[code]
As per the roadmap, other features like Firewall, IDS, Intelligent Log Montioring, AntiVirus can all be added to the `securetea/lib` folder, by creating respective folders.

If yes, I would lik

[2019-02-02 11:17] abhisharma404 commented on #32
@rejahrehim Any thoughts on this? Shall this be worked upon?

[2019-02-03 18:56] rejahrehim commented on #32
@abhisharma404 You can work on this

[2019-02-04 13:34] #32 closed

[2019-02-27 07:57] Vipul999ujawane opened #36 "Notification via Mail (Gmail API)"
Currently the App project has notifications via:
Twilio (SMS)
Telegram
Slack

Another Notification channel can be Email

-> Solution :
Use of the gmail api to send mails to a select user

[2019-02-27 07:57] Vipul999ujawane commented on #36
@rejahrehim , can I work on the issue?

[2019-02-27 08:13] rejahrehim commented on #36
Yes, But provide provisions to integrate popular email providers like Sendgrid, Amazon SES etc.

[2019-02-27 08:59] Vipul999ujawane commented on #36
Ok, will do!

[2019-02-27 14:22] sunn-e commented on #36
Hey, I would like to give it a try too. I'm interested in GSOC.

[2019-02-27 14:43] rejahrehim commented on #36
@sunn-e You could try implementing any one of this email provider.

[2019-03-01 18:41] jay13patel opened #38 "Log Monitoring and Login History Using Linux Log file"
Problem :
Currently, the App project has no log monitoring and login history

Solution:-
By using capabilities of log files generated by every OS, especially in Linux log files are generated by that we can monitor every step which user can notify if anyone used a pen drive or malicious device without the user permission and  is injected in it with attacker have physical access to the system

[2019-03-01 18:45] jay13patel commented on #38
@rejahrehim, can I work on the issue?

[2019-03-01 18:49] rejahrehim commented on #38
@jay13patel you can start working on detecting and disabling/enabling external drives like a pen drive. @mishal23 is working on parsing system logs. I think you both can work together.

[2019-03-01 19:11] jay13patel commented on #38
Ok I will collaborate with @mishal23  for the detection of malicious devices and also want to work on implementing netfilter firewall in this project and want to implement more security levels (like host based IDS/IPS) in it.

[2019-03-01 19:13] rejahrehim commented on #38
Okay, stat with the log monitor now.

[2019-03-03 04:24] adeyosemanputra commented on #38
Its good ideas @rejahrehim @jay13patel to detect malicious device like bad usb,  usb rubber ducky and bash bunny https://github.com/hak5/bashbunny-payloads/

[2019-03-04 19:56] Tikam02 opened #40 "KeyLogging Features."
**Is your feature request related to a problem? Please describe.**
If someone unauthorized  log in to the system and do some malicous activity then all the key logs were mailed to the user.

**Describe the solution you'd like**
A Smart key-logger script.
1) First,basic keylogger that mails key logs to user.
2) Second,Implementation smart user keylogger that classifies normal user and anamoly user.

[2019-03-08 18:26] adeyosemanputra opened #42 "Need someone to deploy owasp securetea gui / dashboard into herokuapp"
Hi @mishal23 @abhisharma404
If possible in the end we should deploy owasp securetea dashboard into herokuapp

Like owasp juice shop
https://juice-shop.herokuapp.com
Best

[2019-03-09 05:05] adeyosemanputra opened #43 "Documentation"
*Submit Pr related Manual Guide, Installation, Setting / Configuration of OWASP SecureTea Tools Project*

A clear and concise description of Documentation. So user easy to install, configure, running this tools [...]

*where I must submit*
master/doc/user_guide.md or other
master/doc/yourideas.md

[2019-03-09 05:11] adeyosemanputra commented on #43
@abhisharma404

[2019-03-09 05:35] adeyosemanputra commented on #40
Do u mean to add keyloging feature into SecureTea Project @Tikam02

[2019-03-09 09:46] abhisharma404 commented on #43
@adeyosemanputra Sure! :) will send my PR soon.

[2019-03-09 16:33] Tikam02 commented on #40
@adeyosemanputra  Yeah.

[2019-03-12 08:08] rejahrehim commented on #42
This dashboard should be a demo. As we could not deploy a dashboard for everyone.

[2019-03-13 03:11] adeyosemanputra opened #44 "SecureTea Web Defacement and Intrusion Monitoring Tool"
SecureTea Web Defacement and Intrusion Monitoring Tool Modul
based on research https://www.researchgate.net/publication/320101622_Web_Defacement_and_Intrusion_Monitoring_Tool_WDIMT
module for detect web deface and monitoring web if we put SecureTea Tool in the server

[2019-03-13 17:07] mishal23 commented on #42
The dashboard is now deployed here: https://secure-tea.herokuapp.com/dashboard
A sample endpoint is deployed here for a demo: https://securetea-endpoint.herokuapp.com/

You can also start the endpoint app locally using `sudo python monitor.py`, and find your IP Address and enter on the `/config` route to get the statistics on dashboard.

[2019-03-13 17:10] rejahrehim commented on #42
@mishal23 Good  :+1:

[2019-03-13 17:17] mishal23 commented on #42
Sure, also there were small changes made to make the deployment proper.
Shall I send a PR with those changes too? @rejahrehim

[2019-03-13 17:19] rejahrehim commented on #42
Is that changes specific to Heroku Deployment?
If yes, keep it in a separate branch. If not, send PR.

[2019-03-13 17:23] mishal23 commented on #42
Okay. Thank you.

[2019-03-15 13:43] #42 closed

[2019-03-16 18:26] abhisharma404 commented on #43
@adeyosemanputra Could you please have a look at the documentation on my forked repo.
Here is the link: https://github.com/abhisharma404/SecureTea-Project/blob/user-guide/doc/user_guide.md

If this is what you were expecting? Please let me know :)

[2019-03-16 20:00] abhisharma404 opened #47 "Bringing continuous integration service to SecureTea"
Since we have test cases now, it would be good if we bring some continuous integration service to our project.
Travis CI can be a great option.

[2019-03-16 23:30] adeyosemanputra commented on #43
@abhisharma404 So far it's good  . Waiting @rejahrehim review too.how about you @rejahrehim !

[2019-03-17 06:47] rejahrehim commented on #47
Yup, we can do that.

[2019-03-17 06:52] #43 closed

[2019-03-17 16:35] abhisharma404 commented on #44
@adeyosemanputra Working on it.

[2019-03-21 19:57] Tikam02 opened #52 "sqlite3 DB Error"
Bug - Database Error

**To Reproduce**
Steps to reproduce the behavior:
1. Start Vurtualenv
2. cd SecureTea-Project
3. run - sudo python SecureTea.py
4. sqlite3.OperationalError: unable to open database file

**Expected behavior**
To run the SecureTea.py by running :
```python SecureTea.py```

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS:  Ubuntu 18
- Envi

[2019-03-21 19:58] Tikam02 commented on #40
@adeyosemanputra can I contribute to this by adding this feature.

[2019-03-22 03:12] abhisharma404 commented on #40
@Tikam02 How do you plan to implement categorizing user?

[2019-03-23 18:09] abhisharma404 commented on #52
Can you try running using Python 3, `sudo python3 SecureTea.py`. Could be a Python 2 specific error.
Also try reinstalling from scratch.

Have a look at the following link:
https://stackoverflow.com/questions/4636970/sqlite3-operationalerror-unable-to-open-database-file

[2019-03-25 09:58] sunn-e opened #61 "The user guide and developer guides on OWASP official SecureTea project site are redirecting to 404 page."
1. Visit: https://www.owasp.org/index.php/OWASP_SecureTea_Project
2. Scroll down to user guide and developer guide section
3. Click on the links
Both the links redirect to a 404.
Cause: The link is not pointing to correct files/files are rearranged without taking website links into account
Solution: Simply rearranging the files in a folder named in following links trail would be easy solution.
Oth

[2019-03-25 10:03] rejahrehim commented on #61
@adeyosemanputra

[2019-03-25 11:07] adeyosemanputra commented on #61
Will fix tomorrow 😬😬😬

[2019-03-25 11:10] adeyosemanputra commented on #61
@sunn-e do u can help with to make video
Installation securetea project like this
https://m.youtube.com/watch?v=Fsx3H5g_tPQ

[2019-03-25 11:13] adeyosemanputra opened #62 "Make video for installation"
@sunn-e do u can help with to make video
Installation securetea project like this
https://m.youtube.com/watch?v=Fsx3H5g_tPQ

[2019-03-25 16:21] Tikam02 commented on #40
@abhisharma404  Actually I was planning to Categorize user based on their USER Behavior using Machine Learning implementing that will take time, then I was exploring other optimized and easier  ML methods to categorize user on their user behaviour. Yeah it is possible and can be implemented.

[2019-03-25 16:26] Tikam02 commented on #52
@abhisharma404  It's Same
[code]

[2019-03-26 10:27] abhisharma404 opened #65 "Bug: Lost support for Python 3 & failing test cases"
Here is the error that I'm getting while executing the command: `sudo python3 SecureTea.py`
Clearly, urllib2 deprecation in Python 3 is causing the error.
[code]
Apart from this there are 10 failing test cases specific for Python 3:
[code]

[2019-03-26 10:28] abhisharma404 commented on #65
Working on the fix.

[2019-03-26 11:50] jay13patel commented on #38
#67 Feature : Detection of malicious devices

[2019-03-26 11:51] jay13patel commented on #38
#67

[2019-03-26 11:54] jay13patel commented on #38
#67

[2019-03-26 12:01] #65 closed

[2019-03-30 06:34] sunn-e commented on #61
I can @adeyosemanputra

[2019-03-30 07:51] sunn-e commented on #61
Can you please elaborate on to what kind of video to be made. I believe we all can have discussion on how the video should be. @rejahrehim @adeyosemanputra

[2019-03-30 07:59] adeyosemanputra commented on #61
The Video content about installation,  running the module and securetea.py in many various operating system as u can do it. Windows, linux and Mac0s

[2019-03-30 09:03] sunn-e commented on #62
Yes @adeyosemanputra . Should I make an identical video? Do you have any idea?

[2019-03-30 09:04] sunn-e commented on #61
All right.

[2019-03-30 13:30] adeyosemanputra commented on #36
#70

[2019-03-31 03:20] adeyosemanputra commented on #62
The video just for user guide

[2019-04-02 12:58] sunn-e opened #79 "Difference in licenses"
1. The license over here https://www.owasp.org/index.php/OWASP_SecureTea_Project is GNU Affero General Public License 3.0
2. And over here  https://github.com/OWASP/SecureTea-Project/blob/master/LICENSE it is MIT.

This may help- https://stackoverflow.com/questions/3902754/mit-vs-gpl-license

[2019-04-02 13:06] rejahrehim commented on #79
Thinking the same, We have to update the license based on the OWASP project standards.

[2019-04-02 13:36] sunn-e commented on #79
@rejahrehim @adeyosemanputra  but problem is , different project follows different license.
This is what I found out-

- Glue,NodeFoat,Amass use Apache 2.0
- O-Saft uses GPL 2.0
- SecurityShepherd uses GPL 3.0
- SEDATED uses BSD-3-Clause

[2019-04-03 16:29] sunn-e commented on #79
We  can figure this out with mentors of  other projects.

[2019-04-13 07:47] #36 closed

[2019-04-16 10:20] sunn-e commented on #62
I think we should close this @adeyosemanputra . I have sent you the telgram version of installation(user guide)

[2019-04-16 10:22] sunn-e commented on #61
Done for Telegram.

[2019-04-16 10:48] #61 closed

[2019-04-16 10:48] #79 closed

[2019-04-20 08:49] #52 closed

[2019-04-20 09:25] sunn-e commented on #62
@adeyosemanputra Twilio version is done too.

[2019-04-21 16:08] sunn-e opened #92 "Feature- Internet time as an option for SecureTea users."
Currently we are sending a `msg `string which contains `common.getdatetime()` for sending local machine time. But, it may happen that a malicious user/virus can manipulate the local machine time and make it look like our device was touched when an authentic user was using it. This could avoid the detection of unauthorised user.
My request is to have an option for users to fetch exact time from the

[2019-04-21 16:09] sunn-e commented on #92
@adeyosemanputra @rejahrehim

[2019-04-21 16:13] sunn-e commented on #79
@adeyosemanputra @rejahrehim I think we need do keep this open untill the license is fixed. What do you think?

[2019-04-22 01:33] #40 closed

[2019-04-23 14:18] adeyosemanputra commented on #62
Gmail/email/slack should be done too!

[2019-04-23 17:10] sunn-e commented on #62
https://www.youtube.com/channel/UCGdl9tpc1qZYcM3WRRFRPPA Thanks for creating this channel. It will help to reach more contributors.

[2019-04-23 17:12] sunn-e commented on #62
I wanted to do the twitter version but  currently I do not have twitter developer account. I will apply for oneor take help of someone for the demo.

[2019-04-23 17:47] abhisharma404 commented on #62
@sunn-e I watched both the video. Great work! Much appreciated :+1:.
Also, if you want I can DM you the twitter credentials.

[2019-04-25 11:09] sunn-e commented on #62
@abhisharma404 Thanks for the kind words. I'm applying for developer account from another account. Let's hope it gets accepted. Even if that doesn't work, I'll ask you for credentials. 😄

[2019-05-03 01:50] sunn-e commented on #79
All right. MIT license it is.

[2019-05-03 04:03] adeyosemanputra commented on #79
🔚😬

[2019-06-05 07:42] abhisharma404 commented on #47
@rejahrehim @adeyosemanputra This can be safely closed. :)

[2019-06-05 07:42] #47 closed

[2019-06-05 07:45] abhisharma404 commented on #62
@sunn-e Can you update the status on this? Can this be closed?

[2019-06-05 08:28] abhisharma404 opened #129 "Bug: KeyError in AWS SES"
Starting AWS SES produces the following error:

[code]

**Development Environment :**
[code]

[2019-06-05 08:36] abhisharma404 opened #131 "Bug: Gmail class destructor called before"
SecureTea Gmail Notifier produces the following bug upon providing invalid credentials:

[code]

**Problem:** Class destructor is being invoked before `server` is being initialized as credentials are wrong.

**Development Environment :**
[code]

[2019-06-06 09:25] #129 closed

[2019-06-06 09:26] #131 closed

[2019-06-11 06:57] adeyosemanputra commented on #62
still need update for video!

[2019-06-17 15:19] abhisharma404 commented on #38
@rejahrehim @adeyosemanputra This issue can be closed, as PR #126 implements everything.

[2019-06-17 15:19] abhisharma404 commented on #38
@rejahrehim @adeyosemanputra This issue can be closed, as PR #126 implements everything.

[2019-06-18 01:30] #38 closed

[2019-06-25 12:45] tapaswenipathak opened #145 "GSoD'19 Applicant"
Hi folks,

I am a GSoD'19 applicant for SecureTea-Project. I was reading the tickets and documentation work for applicant. I didn't find any open docs labelled tickets in this repository. I have been a OWASP SoC intern in '15 I think for OWASP/hackademic. Can you please let me know any tickets that I can solve in application period? I know there are few days remaining in application deadline, feel

[2019-06-26 03:26] adeyosemanputra commented on #145
for docs
https://github.com/OWASP/SecureTea-Project/issues/62
and lets disscuss by telegram group https://github.com/OWASP/SecureTea-Project/issues/62

[2019-06-26 03:27] #145 closed

[2019-06-26 07:17] sunn-e commented on #62
This will be closed probably after GSoD.
 ;)

[2019-07-01 11:54] sunn-e opened #150 "Getting errors while setting up readthedocs."
steps to reproduce.
Clone my repo which has new docs built with sphinx.
-  `git clone https://github.com/sunn-e/SecureTea-Project.git` in a new folder.
-   Open your readthedocs.org account and import the project for doc build up on the site.
-   You will get an error. Below raw text is given. Is there any way we can resolve this? There is now interface to do that in readthedocs console as far as

[2019-07-01 11:57] sunn-e commented on #150
Sorry for the long error message but  there were multiple points of failure so I guess it was necessary to include everything.

[2019-07-01 12:31] abhisharma404 commented on #150
Hi @sunn-e

Can I have a look at your `.readthedocs.yml`?

Also, have you created a configuration python file especially for `readthedocs`? Also, have you re-created all the docs in `.rst` format?

[2019-07-01 14:37] #44 closed

[2019-07-01 14:38] adeyosemanputra commented on #62
Yes if i got best technical writer 😊

[2019-07-11 08:09] sunn-e commented on #150
Yes @abhisharma404 , I have all of them in .rst format. I did not generate any yml files.

[2019-07-19 13:10] rejahrehim commented on #62
@all-contributors add @sunn-e for bug

[2019-08-01 14:37] abhisharma404 opened #191 "Bug: Invalid Shodan API key blocks API Key attribute declaration"
When providing an invalid Shodan API key to IoT Checker, the following error occurs:
[code]
The problem is that, API Key is not initialized to `None` before checking the validity of the API key. A simple initialization to `None` before the API key initialization will solve the problem.

[2019-08-01 16:12] #191 closed

[2019-08-02 14:45] abhisharma404 opened #194 "Bug: Setup failing to locate & copy OSINT files during installation"
The following error is encountered when running: `sudo SecureTea,py`.
[code]
**Problem:** OSINT tools is not copied as a package, reason because of missing `__init__.py` in the `osint` directory.

**Fix:** Add `__init__.py` to the directory, to identify `osint` as a package.

[2019-08-02 14:58] abhisharma404 opened #196 "Bug: "pip install" fails to copy configuration file"
The following error is encountered after running `sudo SecureTea.py` followed by `pip install securetea`.

[code]
**Fix:** Instruct `setup.py` to copy configuration file.

[2019-08-02 18:20] abhisharma404 opened #202 "Bug: Failing to retrieve (KeyError) AntiVirus & Web Deface configurations from saved configuration file"
**Bug:** Failing to retrieve (KeyError) AntiVirus & Web Deface configurations from saved configuration file.

We encounter a `KeyError` whenever configurations for AntiVirus and Web Deface are loaded from the saved configuration i.e. `/etc/securetea,conf` file due to incorrect key.

[2019-08-03 11:36] #194 closed

[2019-08-04 01:59] #196 closed

[2019-08-04 07:58] lelouchB opened #204 "Depricated Google+ icon in Website footer"
I was going through the securetea official  website when I came a small **google+ icon** in the website footer  which links to the GSoC page, It may be insignificant to many but since google+ was shut down last year, I think the icon should be changed to a **more appropriate icon**

I want to do the same and plan to change the icon to **GSoC icon...**
Shall I go ahead????

![securetea](https://use

[2019-08-05 03:42] #202 closed

[2019-08-05 03:52] rejahrehim commented on #204
@lelouchB Can you move this issue to https://github.com/securetea/securetea-web

[2019-08-05 04:13] #204 closed

[2019-08-06 13:06] abhisharma404 opened #207 "Bug: Missing UTF-8 encoding definition"
Starting IDS (R2L rules) using **GUI** (feature to be added, currently being tested) gives the following error:
[code]

**Suggested fix:** Add `# -*- coding: utf-8` to IDS R2L modules.

[2019-08-06 14:31] #207 closed

[2019-08-14 10:09] #92 closed

[2019-08-15 16:05] jishnurippon opened #228 "Unable to install securetea using PyPI"
**About the bug**
Unable to install securetea using 'pip install securetea' for new users.

**Steps**
1. Run 'pip install securetea' in the terminal.
2. it will show
* Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-4j0Q9Q/securetea/
* IOError: [Errno 2] No such file or directory: 'bin/init.d/securetea.sample'

**Screenshots**
![Screenshot from 2019-08-15 20-46-08 (1)

[2019-08-15 16:11] abhisharma404 commented on #228
Could you try: `sudo python3 -m pip install securetea`

[2019-08-15 16:18] abhisharma404 commented on #228
@jishnurippon Also, our initial PyPI release had some bugs which have been fixed now, it will be updated very soon in our next release. To install using the latest repo, please follow the following steps in order:
[code]

[2019-08-15 16:43] kevinshaji97 opened #229 "Input type error"
**About the bug**
The Input  ``` Do you want to use the saved configuratons? (Y/y): ``` is not accepting strings (y or n) but digits 0 and 1 are accepted.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup the configurations using a text editor
2. Run the ``` sudo SecureTea.py --system-mode ``` command
3. The output ``` Do you want to use the saved configuratons? (Y/y): ``` will not accep

[2019-08-15 16:56] abhisharma404 commented on #229
@kevinshaji97 Which version of Python are you using?

[2019-08-15 17:08] abhisharma404 commented on #229
@kevinshaji97 I tried reproducing it but I could not! From what I can read from the error, seems like Python 2.7 type error, because of `raw_input` in Python. I'll downgrade my Python to 2.7 and try to reproduce the error, if done, I'll push in a patch by tomorrow. Meanwhile, could you please try by upgrading your python version to 3.6 the least and try installing again using the following steps:

[2019-08-16 07:12] rejahrehim commented on #228
@abhisharma404 Can we roll the fixes for the pip version? May be many will be trying to install with pip.

[2019-08-16 15:37] abhisharma404 commented on #228
@rejahrehim Yes, the fixes have been made. We can plan a release very soon. Also, I had a closer look at the error and tried to reproduce it in a VM, turns out this error is specifically due to 2 reasons:
1. Not using root, i.e. 'sudo'
2. Also, we need to enforce a Python 3.

The following command will work flawless:
`sudo python3 -m pip install securetea`

Also, #229 This error is also related to

[2019-08-16 16:24] abhisharma404 commented on #229
@kevinshaji97 Thanks a lot for bringing up this issue. As guessed, this error was due to Python 2 lost support. I have sent  a patch which will fix this, I have checked it thoroughly by deprecating my Python version. Please try to install again, as `requirements` have been updated. Use my remote branch for installing:
https://github.com/abhisharma404/SecureTea-Project/tree/bug-fix-229

[2019-08-16 19:07] #229 closed

[2019-08-17 14:08] jishnurippon commented on #228
**This error still exists.**
When I try on python 2.7 it will show.
![Screenshot from 2019-08-18 01-02-41](https://user-images.githubusercontent.com/48761358/63212728-6477c680-c126-11e9-8fa7-8063caf4b9b2.png)

[2019-08-17 14:10] abhisharma404 commented on #228
@jishnurippon What about Python 3?

[2019-08-17 14:20] abhisharma404 commented on #228
@jishnurippon Thanks for bringing this in attention. I'll try to work around it.. PyPi support over Python 2 needs a lot of work.

[2019-08-17 14:31] jishnurippon opened #234 "secuertea is not working"
**About the bug**
After installing securetea using ``sudo python3 -m pip install securetea`` it will not open.

**Steps**
1. ``sudo python3 -m pip install securetea``
2.  ``sudo securetea.py`` and ``sudo python3 securetea.py``

**Expected behavior**
Run securetea.py

**Screenshots**
![Screenshot from 2019-08-18 01-09-56](https://user-images.githubusercontent.com/48761358/63213056-11ebd980-c129-11e

[2019-08-17 14:55] kevinshaji97 opened #235 "Unsupported Interfaces is getting into an error loop"
**Describe the bug**
After configuration when we try to choose an Interface using the index number if it doesn't support scanning it will end in a loop with message ```Interface doesn't support scanning.```

**To Reproduce**
Steps to reproduce the behavior:
1. Configure the securetea
2. Run ```sudo python SecureTea.py --server-mode```
3. Choose use saved configuration
4. Choose an unsupported inte

[2019-08-17 15:43] abhisharma404 commented on #235
@kevinshaji97 Hi there, Yup I did notice it, PR #232 fixes this :)

[2019-08-17 15:49] abhisharma404 commented on #234
@jishnurippon
PyPi installation is not running `setup.py` as it should be doing, I'll look into it. Meanwhile, please install using git repo.

[code]

Please let me know if this works on not, PyPi needs a lot of improvement for which we need to work a lot. :)

[2019-08-17 17:01] rejahrehim commented on #234
@abhisharma404 We need to make it work with PyPi. Everyone will not be ready to install with many commands. We should provide a single command.

[2019-08-18 02:41] adeyosemanputra commented on #235
@kevinshaji97 have you try again and get error? If not this issue should to be close

[2019-08-18 05:10] abhisharma404 commented on #235
@kevinshaji97 Please update your local repository. This error is a combination of two parts, the following PR fixes them:
1. PR #226
2. PR #232

[2019-08-18 05:39] #235 closed

[2019-08-18 15:05] abhisharma404 commented on #234
@jishnurippon Hi there! You have used the wrong command, it's `sudo SecureTea.py` instead of `sudo securetea.py` :)

Try this. :)

Anyway, I'll suggest you to wait for our next release v1.6 very soon and then install again using our PyPi command:
`sudo python3 -m pip install securetea`

There's has been a lot of PyPi bug fixes in the upcoming release.

[2019-08-31 20:50] sam-aldis opened #241 "Containerization"
Further to our talk on the project committee channel - Over the next few days I'll create a docker container and potentially either lxd or vagrant image for the project so any developers can easily "pull and play" without worrying about setup and environment, please tag me in @rejahrehim

[2019-09-13 09:09] rbk0 opened #246 "Adding release notes or changelog"
Hey,

I came across this project yesterday and highly appreciate the idea and the functionality built into this Tool.

I was searching for a changelog or release notes to get a feeling how development of this tool is performed and if I can just run it on a productive server. But either I'm really bad at searching things or there is no such file in this project.

I know I could just sift trough the

[2019-10-12 08:10] rejahrehim opened #247 "Testing in linux varients"
Need to test and report issues on each and every Linux distros

[2019-11-08 04:29] VltraHeaven opened #248 "Unable to complete Installation"
I'm unable to install SecureTea on my host.

**To Reproduce**

I run the following commands
[code]

and the error that occurs is...
[code]

**Desktop (please complete the following information):**
 - Operating System: Linux, Devuan
 - OS version: Beowulf (Buster) Kernel: SMP Debian 4.19.67-2+deb10u1 (2019-09-20) x86_64 GNU/Linux
 - Python Version: Python 3.7.3
 - GCC Version: gcc (Debian 8.3.0-6)

[2019-11-08 08:30] abhisharma404 commented on #248
@VltraHeaven Could you try re-installing NetfilterQueue?

[2019-11-10 10:19] amanjiofficial commented on #241
Is this issue still opened?
@rejahrehim

[2019-12-07 07:30] #228 closed

[2019-12-07 07:42] jishnurippon commented on #248
**About the bug**
i have the same issue in my parrot OS
```Failed building wheel for NetfilterQueue```

**Screenshots**
![securetea](https://user-images.githubusercontent.com/48761358/70370983-28b26980-189b-11ea-82c6-a6a18b053772.png)

**Desktop (please complete the following information):**
 - Operating System: Parrot
 - OS version: Kernel Linux 4.19.0-parrot4-28t-amd64 x86_64

[2019-12-07 07:52] jishnurippon commented on #248
**About the bug**
When i try to install separately. It show the same message.

[2019-12-07 10:09] kevinshaji97 opened #249 "Error After setting up Configuration"
**Error after setting up the configuration using terminal (Traceback)**

**To Reproduce**
Steps to reproduce the behavior:
1.  Run python3 SecureTea.py
2. Set up the configurations via Terminal
4. See error

**Error Code**
[code]
**Screenshots**
![Screenshot from 2019-12-07 15-25-22](https://user-images.githubusercontent.com/46342897/70372636-aad87780-1907-11ea-94b9-f12bf757240c.jpg)

**Desktop:**

[2019-12-07 11:18] Gincy1226 opened #250 "Installation error"
**Unable to install SecureTea from PyPi package manager**

I run the following command:

```$ sudo python3 -m pip install securetea```

**Error :**

Failed with error code 1 in /tmp/pip-build-98kpse_s/NetfilterQueue/

![Screenshot from 2019-12-07 15-20-40](https://user-images.githubusercontent.com/46300157/70373586-40c3d080-190f-11ea-8a49-bb5cbd8f5eef.png)

**Desktop:**
 - Operating System:  Ubunt

[2019-12-07 11:32] #250 closed

[2019-12-07 13:01] abhisharma404 commented on #249
@kevinshaji97 Turns out a problem in retrieving JSON details, have you used the correct Twitter credentials?

[2019-12-07 14:11] Gincy1226 opened #251 "Error in listener callback"
**ERROR - HTTPConnectionPool**

Token and User ID is given and got an error when run the command :

```$python SecureTea.py```

**Error**

![Screenshot from 2019-12-07 19-25-32 (2)](https://user-images.githubusercontent.com/46300157/70375916-91e0be00-1929-11ea-8ae3-6f36cd44d2d9.png)

**Desktop:**
 - Operating System: Ubuntu
 - OS version:  18.04
 - Python :Python 3.6.9
 - Pip : pip 9.0.1

[2019-12-09 07:01] kevinshaji97 commented on #249
Yes I've used the correct twitter credentials

[2019-12-09 07:52] Ashokrnair commented on #248
**About the bug**
i have the same issue in my  Ubuntu 19.04
Running setup.py install for NetfilterQueue . . . error

**Screenshots**
![Screenshot from 2019-12-09 13-03-20](https://user-images.githubusercontent.com/43372601/70417053-69baa180-1a86-11ea-9a81-41b5b03ad03a.png)

**Desktop (please complete the following information):**

- Operating System: Ubuntu 19.04

[2019-12-09 09:26] abhisharma404 commented on #248
@Ashokrnair
Could you please try the following commands before:
[code]

[2019-12-16 04:39] mbhole1857 commented on #248
I have installed the below packages before running the setup.py on python3 still I am getting the **netfilterqueue** error
sudo apt-get install build-essential python3-dev libcap-dev libnfnetlink-dev libnetfilter-queue-dev

Error Screenshot:
![Screenshot at 2019-12-16 10-01-17](https://user-images.githubusercontent.com/13765264/70879567-df95a000-1f93-11ea-898e-cf53911777f5.png)

[2020-02-11 04:28] adeyosemanputra commented on #251
try python3 SecureTea.py

[2020-02-13 07:46] Gincy1226 opened #252 "Build failing-NetfilterQueue error"
I tried ` sudo python3 -m pip install -r requirements.txt`and i got the error

Installing collected packages: oauthlib, requests-oauthlib, py-cpuinfo, Werkzeug, Jinja2, click, itsdangerous, flask, flask-cors, python-xlib, pynput, tornado, decorator, future, python-telegram-bot, PyJWT, twilio, scapy, NetfilterQueue, jmespath, docutils, botocore, s3transfer, boto3, ratelim, geocoder, pathlib, wget,

[2020-02-13 07:49] Gincy1226 commented on #252
`sudo apt install libnetfilter-queue-dev` solved the problem

[2020-02-13 07:49] #252 closed

[2020-02-13 07:55] Gincy1226 commented on #251
Thank you. Issue resolved

[2020-02-13 09:00] adeyosemanputra commented on #251
ok  good luck

[2020-02-13 09:00] #251 closed

[2020-04-15 08:57] cciro94 commented on #248
I have the same problem. The installation procedure does not end with python3. However, if I install the project with python2.7 the installation has been done, but it doesn't run:

`/usr/local/lib/python2.7/dist-packages/bs4/element.py:16: UserWarning: The soupsieve package is not installed. CSS selectors cannot be used.
  'The soupsieve package is not installed. CSS selectors cannot be used.'
[!]

[2020-04-15 14:46] cciro94 commented on #248
Solution:
1. Install python3.8
2. Run:
`
pip3.8 install -U git+https://github.com/kti/python-netfilterqueue
pip3.8 install securetea
pip3.8 install bs4
pip3.8 install wget
pip3.8 install shodan
`

[2020-06-26 08:27] kUSHAL0601 opened #255 "GUI component throws error"
**Describe the bug**
The Security component of the GUI fails to run. It cannot run SecureTea.py

**To Reproduce**
Steps to reproduce the behavior:
1. Run server app
1. Run gui app
2. Open gui at localhost:4200
3. Scroll down to Security
4. Run it without filling any entry

**Expected behavior**
SecureTea should run with log monitor and other standalone features
**Why this may have happened accordi

[2020-07-12 12:49] kUSHAL0601 commented on #255
Tackled with https://github.com/OWASP/SecureTea-Project/pull/256

[2020-07-12 12:49] #255 closed

[2020-09-04 10:11] GouravRDutta commented on #62
what is the location of log file...?

[2020-09-08 09:17] #234 closed

[2020-09-08 09:18] rejahrehim commented on #247
@kUSHAL0601  Can you update the status here ?

[2020-09-08 09:28] kUSHAL0601 commented on #247
SecureTea has been tested on the following linux variants :

1.  Ubuntu 16.04
2.  Ubuntu 20.04
3. CentOS 7
4. Fedora 32
5. Kali linux 2016
6. ParrotSec 4.2

The testing includes installation and unit testing

[2020-09-09 07:09] rejahrehim commented on #247
Awesome. Can we put a table in the Readme stating the status and tested OSs @kUSHAL0601

[2020-09-09 07:15] kUSHAL0601 commented on #247
Sure will do! Although could you clarify on the status part. Should I put error/no error and put some other OSs which we should probably test on ?

[2020-09-09 13:57] rejahrehim commented on #247
Passed, Partial, Need  improvement as status also you can put any specific comments too

[2020-12-28 11:13] Shuvo31 opened #269 "Setup.py"
#Need to import distro
#Need to define that"os_name = distro.linux_distribution()[0]"
from setuptools import find_packages
from setuptools import setup
import platform
import subprocess
import re
import distro

os_name = distro.linux_distribution()[0]
if not os_name:
    if 'amzn' in platform.uname()[2]:
        os_name = 'centos'

files_definition = [
    ('/etc/securetea', ['securetea.conf']),

[2021-01-10 13:38] NishantPuri99 commented on #247
Hi, is this issue still open? I have a Debian Buster VM?
Any ideas on how to go about it?

[2021-01-10 16:58] rejahrehim commented on #247
Still up. You can update the test results

[2021-01-12 10:36] NishantPuri99 commented on #247
Hi! I tried installing SecureTea on Debian as well as Kali and am facing some errors. I guess it's because of one of the dependencies **NetFilterQueue** to be exact. I tried manually building it from [source](https://github.com/kti/python-netfilterqueue).

[2021-01-12 10:50] kUSHAL0601 commented on #247
Hi. Did you try using the [bash script](https://github.com/OWASP/SecureTea-Project/blob/master/install_dependencies_apt.sh)? It should help you with installation issues in general!

[2021-01-12 10:52] NishantPuri99 commented on #247
Yes I did run it, but I encountered this netfilterqueue at that time only.

That is why I tried building from source

[2021-05-19 19:44] prince-7 opened #271 "SweetAlert Node Module Error"
**Describe the bug**
On starting the angular GUI server using ```npm run start```, the compiler faces an error during starting the server due to the SweetAlert Module Used.
**To Reproduce**
Steps to reproduce the behavior:
1. ``` cd gui```
2. ```npm install```
3. ```npm run start```

**Expected behavior**
The Server Must start without any error.

**Why this may have happened according to you**
The

[2021-05-21 10:19] prince-7 commented on #248
This can be solved by following this PR https://github.com/OWASP/SecureTea-Project/pull/274

[2021-05-27 14:19] adeyosemanputra commented on #269
@prince-7 @pwned-17 please check it

[2021-05-27 14:19] adeyosemanputra commented on #248
done thank you @prince-7

[2021-05-27 14:19] #248 closed

[2021-05-27 14:20] adeyosemanputra commented on #249
@prince-7  also @pwned-17 please check it

[2021-05-27 14:21] #62 closed

[2021-05-27 16:19] Shuvo31 commented on #269
As i checked your last commit this issue already been resolved  2 months ago.
In the last commit u guys already fixed distro via this process,
import distro
os_name = distro.linux_distribution()[0]

@adeyosemanputra Thanks for concern.

[2021-05-27 16:53] adeyosemanputra commented on #269
thank you @Shuvo31 . well done

[2021-05-27 16:53] #269 closed

[2021-05-28 12:38] #271 closed

[2021-05-31 20:03] prince-7 commented on #249
This issue might be caused because of not using the correct python version. Use python3.6.0.

[2021-05-31 20:05] prince-7 commented on #241
Fixed by https://github.com/OWASP/SecureTea-Project/pull/242

[2021-05-31 20:06] prince-7 commented on #247
NetfilterQueue issue can be fixed in this way https://github.com/OWASP/SecureTea-Project/pull/242. This can be closed.

[2021-05-31 21:57] #249 closed

[2021-06-06 18:44] pwned-17 opened #282 "Adding a WAF feature which implements ML"
Todo

- [ ] Building a Proxy Server to intercept HTTP/HTTPS traffic.
- [ ] Building the Dataset for Kmeans Clustering
- [ ] Training the model to create two clusters one for good and bad traffic.
- [ ] Feature Extractions from the web traffic
- [ ] Implementing Logging and Alerting Mechanism
- [ ]  Testing the feature.

- The proxy server should be able to intercept concurrent web traffic and anal

[2021-06-06 18:46] pwned-17 commented on #282
@prince-7  Currently these are things that I have planned and will update,if anything comes up and feel free to add your ideas or suggestions.

[2021-06-24 09:16] prince-7 opened #285 "New Feature: Improvement in Detecting Website Defacements Based on Machine Learning Techniques and Attack Signatures"
This will be the new feature that I would add in the Project. This web defacement detection model will work for static as well as dynamic Webpages (Current Version of the feature is only for static pages as it compares the hash changes). This model will have 3 ways to detect defacement in consecutive order:-
- Detection based on change in the hash of external files(css, js, images, etc) used in th

[2021-06-25 13:09] pwned-17 opened #286 "Adding Feature : Web Application Firewall"
### The WAFs Working

Since the Securtea is a software that is used on the server-side of an application. In order to implement a WAF  we need to monitor the traffic that is being sent to the Web Server. This could be done by utilizing the Ngnix 's and Apache's reverse Proxy.
Where we configure the reverse proxy to proxy pass every request to a listening server that is capable of analyzing the tra

[2021-06-25 13:10] #282 closed

[2021-06-25 13:10] pwned-17 commented on #282
Submitted an updated version of the same

[2021-07-28 13:59] #247 closed

[2021-08-04 16:27] prince-7 commented on #285
@adeyosemanputra @rejahrehim This Features is implemented by me in this PR #295. This Issue can be closed!

[2021-08-04 16:27] #285 closed

[2021-08-06 05:14] #286 closed

[2021-08-12 07:28] DigvijayBhosale1729 opened #301 "Python modules show up missing after installation via pip3 -r requirements.txt"
**Describe the bug**
While installing in docker, the python modules come up missing even though they're installed via pip3.

**To Reproduce**
1. On a clean OS installation, download the repo and navigate to it ```cd /home/SecureTea-Project-master```
2. Run ```bash install_dependencies_apt.sh``` as root
3. Run ```sudo python3 -m pip install -r requirements.txt``` as per installation instructions
4.

[2021-08-12 11:01] DigvijayBhosale1729 commented on #301
Figured out what the problem was. In new OS installations, pip3 and git need to be preinstalled. If not preinstalled, it breaks the script

[2021-08-15 14:43] goheesheng commented on #150
Nah all the methods provided to install doesn't work. git clone and install requirement.txt, unzipping and download file and install requirement.txt etc.

[2021-08-15 23:42] adeyosemanputra commented on #150
@goheesheng are you found the bug or get installation issues?

[2021-08-16 00:39] goheesheng commented on #150
![image](https://user-images.githubusercontent.com/77826239/129497732-d6014a01-f64c-4a0d-897e-222dddf337ce.png)

[2021-08-16 00:39] goheesheng commented on #150
I have already installed distro yet still the same error

[2021-08-16 03:06] #301 closed

[2021-08-16 03:16] adeyosemanputra commented on #150
@goheesheng can you check again? already we fix it?

[2021-08-16 03:25] #241 closed

[2021-08-30 13:27] #150 closed

[2021-08-30 13:28] #246 closed

[2021-09-09 09:31] shubhangi013 opened #325 "typo on the project demo section"
It should be **IoT** and not **IOT**
![Screenshot from 2021-09-09 14-52-01](https://user-images.githubusercontent.com/78342516/132661195-fdcb8a8c-b62c-4731-b60c-c4a92999d3dd.png)

[2021-09-09 13:45] adeyosemanputra commented on #325
@shubhangi013 where is the typo which you find? at the securetea website?

[2021-09-09 13:53] shubhangi013 commented on #325
yeah at the securetea website

[2021-09-09 14:15] adeyosemanputra commented on #325
@shubhangi013 thank you for your information. will update as soon and closed this issues because the typo not in this repo. it's outside this repo.

[2021-09-09 14:15] #325 closed

[2021-09-30 09:11] shubhangi013 opened #329 "incorrect commands for installation gien on the guide."
the commands : `sudo bash install install_dependencies_apt.sh` and `sudo bash install install_dependencies_yum.sh` as given on https://github.com/OWASP/SecureTea-Project#installation give error on being run. They should be `sudo bash install_dependencies_apt.sh` and `sudo bash install_dependencies_yum.sh`.

[2021-09-30 10:28] #329 closed

[2021-10-01 10:19] shubhangi013 opened #332 "Unecessary condition in the code"
At several places in the code, like : https://github.com/OWASP/SecureTea-Project/blob/024d36952b23a4f13db3e97848a33a4c37472de0/securetea/args/args_helper.py#L802, the if condition has an unnecessary 'or' condition while using `.lower`.
also, there should be an instruction as to how one quits the application, according to me `Ctrl+Z` worked. the normal `Ctrl+C` didn't.

[2021-10-04 02:20] #332 closed

[2021-10-06 12:08] ZhenYaXu opened #335 "In which folder is monitor.py in sudo python monitor.py"
localhost:4200 is valid ，but it shows localhost:5000 not working

[2021-10-10 14:51] DigvijayBhosale1729 commented on #335
Hello @ZhenYaXu
Web UI requires ServerApp running. To run ServerApp,

1. Navigate to /ServerApp by using command cd ServerApp
2. python3 run.py to start ServerApp
3. ServerApp runs on http://localhost:5000. This is the END-POINT for the GUI
4. To check if ServerApp is running, run http://localhost:5000 in a Web Browser. A white/blank screen indicates proper working of ServerApp

The preffered web

[2021-10-10 21:41] shubhangi013 commented on #335
I had to also manually install `pip install flask_socketio`
and ` pip install flask_sqlalchemy` to install these, even after running `pip install requirements.txt` :thinking:  in the ServerApp

[2021-10-11 11:55] shubhangi013 opened #338 "the commands for server mode in the quick-start guide don't work properly"
In the repository, there are 2 commands for running the app in the server mode.

[quick start](https://github.com/OWASP/SecureTea-Project#quick-start) : This one saves files of the repo in the `usr\local\bin`. Could anyone tell me why?
and
[after installation](https://github.com/OWASP/SecureTea-Project/blob/master/doc/en-US/user_guide.md#starting-up-in-server-mode) : This one runs fine

Please spe

[2021-11-09 02:45] DigvijayBhosale1729 opened #341 "GUI needs a makeover"
**Describe the bug**
Gui is becoming outdated. The View changes fonts as i scroll and sometimes, security features dont work.

**To Reproduce**
Steps to reproduce the behavior:
1. While installing Angular and setting up project, 41 vulnerabilities (1 low, 16 moderate, 24 high) are displayed
2. Start GUI by `ng serve` in `gui` folder and `python3 run.py` in
3. Register/login on `http://127.0.0.1:42

[2021-11-25 01:30] kUSHAL0601 commented on #341
Does not make sense to change the server from flask to django when angular gui had version issues. Usually such issues arise because npm lock of angular needs to be updated and that should be a good fix. Also using django gives no supremacy ocer using flask...

[2021-12-16 03:39] #341 closed

[2021-12-22 19:55] Dainank commented on #335
Hey @ZhenYaXu
This python script is in **/SecureTea-Project/securetea/lib/web_deface/monitor.py**.

Please note that running this script alone will not do anything worthwhile to run the SecureTea-Project successfully.

If you follow the instructions in the documentation and ignore the line **3. sudo python monitor.py** you should eventually get a working web UI.

PS:

[2022-03-17 18:12] shubhangi013 opened #358 "the build is failing"
as per :
https://app.travis-ci.com/github/OWASP/SecureTea-Project/builds/246126195
build is failing due to error in pytest

[2022-04-16 23:03] mohamedmostafadawood opened #361 "Using towncrier for managing the CHANGELOG file"
#### Problem Description

 Editing a changelog file doesn't sound too hard, but usually in the end it is not a developer that does this, but GitHub and this go wrong too many times.

To avoid problems like this, the pip project has been using towncrier.

#### Proposal
 Basically, you would create a news/1234.bugfix file or a news/42.feature file. You do not touch CHANGES.rst. At release time, the

[2022-08-11 09:49] JRockiller1 opened #371 "GaussianNB instance not fitted yet"
Hi, am trying out the web application firewall but seem to run into this error. Checked everywhere and am unsure on how to continue.
![image](https://user-images.githubusercontent.com/73624798/184107744-a55204f7-ee2e-4ce4-bee2-0d4773c25cc8.png)

[2022-09-10 15:30] DigvijayBhosale1729 commented on #371
There's a small issue with WAF right now. It seems that the `.csv` files are misnamed and `GaussianDB` is using depreciated method. Thanks for bringing this to our notice. Will fix it.